<html lang="en">
<% include ../partials/header %>

    <body>
        <% include ../partials/nav %>
            <!-- Login Form -->
            <div class="container">
                <div class="row search">
                    <form class="form" method="post" action="/">
                        <div class="input-group col-md-8">
                            <input type="text" id="input" class="search-query form-control" placeholder="Type the temple name">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                    <span class="btn-images glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
                    </form>
                </div>
            </div>


            <% include ../partials/footer %>
                <% include ../partials/scripts %>
    </body>

</html>